<ion-content>
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="./slide-1.png"/>
        <h2>PaddleWeather</h2>
        <p>Level up your <b>SUP</b>sperience!</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./slide-2.png"/>
      <h2>Check the weather forecasts</h2>
      <p>Search locations and save it for later</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-3.png"/>
      <h2>Enjoy the weather outside</h2>
      <p>Set up a route plan or join others, then track your ride</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-4.png"/>
      <h2>Learn from the bests</h2>
      <p>Read additional content from experts</p>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
